@import 'colors';

$y-type-family-ringside: 'HCo Ringside Narrow SSm', 'Archivo Narrow', 'Arial Narrow', Arial, sans-serif;
$y-type-family-vitesse: 'Vitesse A', 'Vitesse B', 'Zilla Slab', 'Aleo', Georgia, serif;
$y-type-family-gotham: 'Gotham A', 'Gotham B', 'Montserrat', 'Roboto', Verdana, Arial, sans-serif;
$y-type-family-sentinel: 'Sentinel A', 'Sentinel B', 'Domine', 'Times New Roman', serif;

$y-type-family-garamond: 'Cormorant Garamond', 'Garamond', 'Times New Roman', serif;
$y-type-family-baskerville: 'Libre Baskerville', Georgia, serif;
$y-type-family-opensans: 'Open Sans', Verdana, Arial, sans-serif;
$y-type-family-roboto: Roboto, Arial, sans-serif;
$y-type-family-source-sans: 'Source Sans Pro', Tahoma, Arial, sans-serif;

@mixin y-type-family-ringside() {
  font-family: $y-type-family-ringside;
}

@mixin y-type-family-vitesse() {
  font-family: $y-type-family-vitesse;
}

@mixin y-type-family-gotham() {
  font-family: $y-type-family-gotham;
}

@mixin y-type-family-sentinel() {
  font-family: $y-type-family-sentinel;
}

@mixin y-type-family-garamond() {
  font-family: $y-type-family-garamond;
}

@mixin y-type-family-baskerville() {
  font-family: $y-type-family-baskerville;
}

@mixin y-type-family-opensans() {
  font-family: $y-type-family-opensans;
}

@mixin y-type-family-roboto() {
  font-family: $y-type-family-roboto;
}

@mixin y-type-family-source-sans() {
  font-family: $y-type-family-source-sans;
}

$y-type-logo: $y-type-family-ringside;
$y-type-header: $y-type-family-ringside;
$y-type-logo-old: $y-type-family-vitesse;

@mixin y-type-logo($color: $y-color-text-black ) {
  font-family: $y-type-logo;
  color: $color;
}

@mixin y-type-header($color: $y-color-text-black) {
  font-family: $y-type-header;
  color: $color;
}

